# Strava API credentials
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REDIRECT_URI=http://localhost:4000/auth/strava/callback

# Weather API key
WEATHER_API_KEY=

# Database configuration
DATABASE_URL="file:./prisma/dev.db"

# Server configuration
PORT=4000
